/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* header  */
header{
    background-color: #2D25A0;
    padding: 42px 121px 0px 156px;
}


/* Navigation Bar */
nav{
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
}

.menu{
    padding: 10px 0px;
}

.menu a{
    margin-right: 36px;
}

.login-button{
    background-color: #E02C6D;
    padding: 10px 24px;
    line-height: 24px;
}

.login-button .fas{
    color: #FFFFFF;
    margin-right: 8px;
}


/* Top Banner */
.top-banner{
    display: flex;
    justify-content: space-between;
}

/* Top Banner Left Side */
.banner-left{
    margin-top: 121px;
    color: #FFFFFF;
    
}
.banner-left h1{
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    line-height: 80px;
}


.live-button{
    background-color: #E02C6D;
    display: inline-block;
    padding: 10px 24px;
    margin-top: 27px;
}

.live-button a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-right: 8px;
    
    
}

/* Watch Live Button Animation */
@keyframes moving{
    0%{
        
    }

    25%{
        transform: rotate(90deg) scale(1.5);
    }

    50%{
        transform: rotate(180deg) scale(1);
    }

    75%{
        transform: rotate(270deg) scale(1.5);
    }

    100%{
        transform: rotate(360deg) scale(1);
    }
}

.live-button:hover .fas{
    animation: moving 2s ease 0.2s infinite alternate;
    animation-play-state: running;
}

.live-button:hover .live-text{
    font-size: 24px;
    transition: font-size 0.5s;
}

/* Top Banner Right Side */
.banner-right{
    padding-left: 98px;
    padding-right: 19px;

}

.banner-right img{
    width: 556px; 
    height: 456px; 
    margin-top: 49px;
    margin-bottom: 86px;
}


/* Players Section */
.players{
    padding: 70px 180px 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 45px;
    grid-column-gap: 30px;
}

.player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
}

.player-image img{
    width: 100%;
}

.player-info h2{
    color:#18191F;
    font-size: 28px;
    font-weight: 700;
}

.player-info p{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    color: #6C6C6C;
}


/* Latest Match Section */
.latest-match-section{
    padding: 0px 180px 165px;
    color: #173562;
    
}

.latest-match-section h1{
    font-size: 40px;
}

.result{
    padding-left: 50px;
    color: #505050;
}

.result h2{
    font-size:30px;
}

.result-box{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    border-radius: 2%;
    display: flex;        
    justify-content: space-around;
}

.result-info{
    font-weight: 700;
    color: #6F6F6F;
    padding-top: 20px;
    padding-left: 20px;
}

.score{
    display: flex;
    align-items: center;
    color: #B1B1B1;
}

.score img{
    width: 44px;
    padding: 0px 40px;
}

.score p{
    font-size: 60px;
}

.score small{
    padding: 0px 20px;
}


/* Gallery Section */

.gallery-section{
    padding: 0px 180px 165px;
    color: #173562;
}

.gallery-section h1{
    font-size: 40px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    grid-column-gap:20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    padding: 20px; 
}

.gallery img{
    width: 100%;
    height: 100%;
    
}



/* Footer Section */
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 63px;
   
}

footer img{
    width: 483px;
    height: 110px;
}

footer .social-icons{
    padding: 20px 0px;
}

.social-icons .fab{
    font-size: 17px;
    margin-right: 14px;
    color: #969BAB;
    background-color: #E7E7E8;
    padding: 8px 10px;
    border-radius: 20px;
}

.social-icons .change{
    margin-right: 0;
}

footer p{
    font-size: 18px;
    font-weight: 400;
}



/* Media Queries */

/* For Mobile Device */
@media only screen and (max-width:480px){
   
    header{   
        padding: 0px 0px 0px 6px;
    }
    nav{
        display: none;
    }

    .top-banner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .banner-left h1{
        font-size: 36px;
        font-weight: 700;
        margin: 0;
        line-height: 50px;
    }



    .banner-right{
        padding: 0;
    }

    .banner-right img{
        height: 260px;
        width: 290px;
    }
    

    .players{
        grid-template-columns: repeat(1,1fr);
        padding: 47px 15px;
        grid-row-gap: 24px;
    }

    .player-info p{
        font-size: 16px;
        font-weight: 400;
        text-align:left ;
        color: #6C6C6C;
    }
    

    .latest-match-section{
        display: none;
    }

    .gallery-section{
        display: none;
    }
    footer img{
        width: 275px;
        height: 63px;
    }

    
}